@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

#tour {
  background-image: url('../public/map.png');
  backdrop-filter: blur(2.6px);
  -webkit-backdrop-filter: blur(2.6px);
}

/* #news {
  background-image: url('../public/new.png');
  background-repeat: no-repeat;
  background-size: cover;
} */

#news-grid {
  background-image: url('../public/grid.png');
  background-repeat: no-repeat;
  background-size: cover;
}

#map {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.6px);
  -webkit-backdrop-filter: blur(2.6px);
  border: 1px solid rgba(255, 255, 255, 0.21);
}


#product_viewer {
  max-width: 50%;
  margin: 200px auto;
}

#product_viewer img {
  display: block;
  width: 100%;
}

.parent-container>div>div>div {
  /* Set opacity to 1 for child <div> elements */
  opacity: 1 !important;
  height: 250px !important;
  /* background-color: red; */
}

.ratingproductslider .slideInner___2mfX9 {
  padding-right: 10px;
}

/* Review Slider */
.reviewslider-wrapper .slick-dots {
  bottom: -50px;
}

.reviewslider-wrapper .slick-dots li {
  margin: 0;
}

.reviewslider-wrapper .slick-dots li button:before {
  font-size: 8px;
  color: #071822;
}

.reviewslider-wrapper .slick-dots li:hover button:before {
  color: #22A6AB;
}

.reviewslider-wrapper .slick-dots li.slick-active button:before {
  color: #22A6AB;
}

.text-line-camp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

.rdp {
  margin: 0 !important;
}

.rdp-month.rdp-caption_start.rdp-caption_end {
  background-color: #E8F5F5;
  width: 100%;
  border-radius: 6px;
  padding: 10px;
}

.rdp .rdp-table .rdp-cell .rdp-button_reset.rdp-button.rdp-day {
  font-size: 16px;
  color: #212121;
}

.rdp .rdp-table {
  max-width: 100% !important;
  width: 100%;
}

.rdp .rdp-table .rdp-cell .rdp-button_reset.rdp-button.rdp-day.rdp-day_selected {
  color: white;
  background-color: #22A6AB;
  font-weight: 400;
  width: 32px;
  height: 32px;
}

/* Pagination */

.pagination-container {
  @apply flex gap-6 items-center justify-center
}

.pagination-container .pagination-item {
  @apply text-b25 text-sm
}

.pagination-container .pagination-item.selected {
  @apply text-b3 font-bold
}

.pagination-container .pagination-item.disabled {
  pointer-events: none;
}

.content {
  /* Your existing styles for content */
  transition: opacity 0.2s ease-out;
}

.fade-out {
  opacity: 0;
}

.text_between_line {
  font-size: 14px;
  overflow: hidden;
  text-align: center;
}

.text_between_line:before,
.text_between_line:after {
  background-color: #D9D9D9;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.text_between_line:before {
  right: 0.5em;
  margin-left: -50%;
}

.text_between_line:after {
  left: 0.5em;
  margin-right: -50%;
}

/* Modal */
.backdrop-blur-sm {
  background-color: rgba(0, 0, 0, 0.40) !important;
  backdrop-filter: initial;
}

/* === */
/* checklsit Scroll Bar */
#checklists::-webkit-scrollbar-track {
  border-radius: 16px;
  background-color: white;
}

#checklists::-webkit-scrollbar {
  width: 16px;
  background-color: white;
}

#checklists::-webkit-scrollbar-thumb {
  border-radius: 16px;
  background-color: #D9D9D9;
}

/* Our story */
.meetteam{
  @apply [&>figure:first-child]:maxmd:col-span-2 [&>figure:first-child]:maxmd:mx-auto [&>figure:first-child]:maxmd:w-[200px] [&>figure:first-child>img]:w-40 [&>figure:first-child>img]:h-40
}
.meetteam figure:first-child h3{
  @apply text-lg
}
.meetteam figure:first-child span{
  @apply text-sm
}
/* ========= */
h1.ce-header {
  @apply text-3xl font-bold
}

h2.ce-header {
  @apply text-2xl font-semibold
}

h3.ce-header {
  @apply text-xl font-semibold
}

h4.ce-header {
  @apply text-lg font-semibold
}

h5.ce-header {
  @apply text-base font-semibold
}

h6.ce-header {
  @apply text-base font-semibold
}