@tailwind base;
@tailwind components;
@tailwind utilities;

#tour{
    background-image: url('../public/map.png');
}

#news{
    background-image: url('../public/g1.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#map{
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.6px);
  -webkit-backdrop-filter: blur(2.6px);
  border: 1px solid rgba(255, 255, 255, 0.21);
}
