@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#tour {
  background-image: url('../public/map.png');
  backdrop-filter: blur(2.6px);
  -webkit-backdrop-filter: blur(2.6px);
}

#news {
  background-image: url('../public/new.png');
  background-repeat: no-repeat;
  background-size: cover;
}

#news-grid {
  background-image: url('../public/grid.png');
  background-repeat: no-repeat;
  background-size: cover;
}

#map {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.6px);
  -webkit-backdrop-filter: blur(2.6px);
  border: 1px solid rgba(255, 255, 255, 0.21);
}


#product_viewer {
  max-width: 50%;
  margin: 200px auto;
}

#product_viewer img {
  display: block;
  width: 100%;
}

.parent-container>div>div>div {
  /* Set opacity to 1 for child <div> elements */
  opacity: 1 !important;
  height: 250px !important;
  /* background-color: red; */
}

.ratingproductslider .slideInner___2mfX9 {
  padding-right: 10px;
}

/* Review Slider */
.reviewslider-wrapper .slick-dots {
  bottom: -50px;
}

.reviewslider-wrapper .slick-dots li {
  margin: 0;
}

.reviewslider-wrapper .slick-dots li button:before {
  font-size: 8px;
  color: #071822;
}

.reviewslider-wrapper .slick-dots li:hover button:before {
  color: #22A6AB;
}

.reviewslider-wrapper .slick-dots li.slick-active button:before {
  color: #22A6AB;
}